@model COES.MVC.Intranet.Areas.Transferencias.Models.TipoContratoModel

@Html.AntiForgeryToken()
<table border="0" class="pretty" id="tabla">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Estado</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaTipoContrato) 
        {
            <tr id="fila_@item.Tipocontcodi">
                <td class="text_left">@item.Tipocontnombre</td>
                <td class="text_left">@if (item.Tipocontestado == "ACT")
                { <span>Activo</span> }
                else
                { <span>Inactivo</span> }</td>
                <td style="width:30px;"><a href="#" id="view_@item.Tipocontcodi" class="view"><img src="@Url.Content("~/Content/Images/btn-open.png")" title="Ver informacion del registro" alt="Ver informacion del registro" /></a></td>
                <td style="width:30px;">
                @if (Model.bEditar)
                    {
                        <a href="@Url.Action("Edit", new { id = item.Tipocontcodi })"><img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Editar el registro" alt="Editar el registro" /></a>
                    }
                </td>
                <td style="width:30px;">
                @if (Model.bEliminar)
                    {
                        <a href="#" id="eliminar_@item.Tipocontcodi" class="delete"><img src="~/Content/Images/btn-cancel.png" title="Eliminar el registro" alt="Eliminar el registro" /></a>
                    }
                </td>
            </tr>
        }
    </tbody>

</table>
<div id="popup">
</div>
<div style="text-align:center">
    <input type="button" value="Limpiar" onclick="location.href='@Url.Action("Index","tipocontrato")'" alt="Limpiar" title="Limpiar" />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="button" value="Generar excel" onclick="generarExcel()" alt="Generar excel" title="Generar excel" />
    @if (Model.bNuevo)
    {
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <input type="button" value="Nuevo" onclick="location.href='@Url.Action("New", "tipocontrato")'" alt="Insertar un nuevo registro" title="Insertar un nuevo registro" />
    }
</div>