@model COES.MVC.Intranet.Areas.Hidrologia.Models.HidrologiaModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/Hidrologia/Content/Scripts/reporte.js"></script>
<div class="form-title">
    <div class="content-titulo">Consulta Histórica de Hidrología 2</div>
    <div class="content-botonera">
          <input type="button" id="btnBuscar" value="Buscar" />
          <input type="button" id="btnExpotar" value="Exportar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="spfilter-container">
         <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Empresa:</td>
                <td style="width:200px;">
                    <select id="cbEmpresa" name="IdEmpresa" multiple="multiple">
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresa" name="empresa" value=""/>
                </td>
                <td>Cuenca:</td>
                <td>
                    <select id="cbCuenca" name="IdCuenca" multiple="multiple">
                        @foreach (var item in Model.ListaCuenca)
                        {
                            <option value="@item.Equicodi">@item.Equinomb</option>
                        }
                    </select>
                </td>
                <td>Lugar de Medición:</td>
                <td style="width:200px;">
                    <select id="cbPtoMedida" name="IdPtoMedida" multiple="multiple">
                        @foreach (var item in Model.ListaPtoMedida)
                        {
                            <option value="@item.IdMedida">@item.NombreMedida</option>
                        }
                    </select>
                </td>
            </tr>
             <tr>
                <td>Fecha desde:</td>
                <td><input type="text" id="FechaDesde" name="FechaInicio" value="@Model.FechaInicio"  /></td>
                <td>Fecha hasta:</td>
                <td><input type="text" id="FechaHasta" name="FechaFin" value="@Model.FechaFin" /></td>
                <td>Tipo de Información:</td>
                <td>
                   <select id="cbTipoInformacion" name="IdTipoInformacion">
                        @foreach (var item in Model.ListaTipoInformacion)
                        {
                            <option value="@item.IdTipoInfo">@item.NombreTipoInfo</option>
                        }
                    </select>
                </td>
             </tr>

        </table>
    </div>
    <div class="content-tabla">
        <div class="tabla-header">       
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>
    </div>
</div>