@model COES.MVC.Intranet.Areas.Transferencias.Models.PeriodoModel

@Html.AntiForgeryToken()
<table border="0" class="pretty" id="tabla">
    <thead>
        <tr>
            <th class="sorting_desc">Periodo</th>
            <th>Año</th>
            <th>Mes</th>
            <th>Fecha Valorizacion</th>
            <th>Fecha Limite</th>
            <th>Hora Limite</th>
            <th>Fecha Observaciones</th>
            <th>Estado</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
        </tr>
    </thead>
     <tbody>
        @foreach (var item in Model.ListaPeriodos)
        {
            <tr id="fila_@item.Pericodi">
                <td style="text-align:left;">@item.Perinombre</td>
                <td>@item.Aniocodi</td>
                <td>@item.Mescodi</td>
                <td>@item.Perifechavalorizacion.ToString("dd/MM/yyyy")</td>
                <td>@item.Perifechalimite.ToString("dd/MM/yyyy")</td>
                <td>@item.Perihoralimite</td>
                <td>@item.Perifechaobservacion.ToString("dd/MM/yyyy")</td>
                <td>@item.Periestado</td>
                <td style="width:30px;"><a href="#" id="view_@item.Pericodi" class="view"><img src="@Url.Content("~/Content/Images/btn-open.png")" title="Ver informacion del registro" alt="Ver informacion del registro" /></a></td>
                <td style="width:30px;">
                @if (Model.bEditar)
                {
                    <a href="@Url.Action("Edit", new { id = item.Pericodi })"><img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Editar el registro" alt="Editar el registro" /></a>
                }
                </td>
                <td style="width:30px;"><a href="@Url.Action("Index", "compensacion", new { id = item.Pericodi })"><img src="@Url.Content("~/Areas/Transferencias/Content/Images/compensacion.jpg")" title="Crear la compensacion" alt="Crear la compensacion" /></a></td>
                <td style="width:30px;">
                @if (item.Periestado == "Cerrado")
                {
                    <a href="@Url.Action("Index", "recalculo", new { id = item.Pericodi })"><img src="@Url.Content("~/Areas/Transferencias/Content/Images/recalculo.jpg")" title="Crear el recalculo" alt="Crear el recalculo" /></a>
                }
                </td>
                <td style="width:30px;">
                    @if (Model.bEliminar)
                    {
                        <a href="#" id="eliminar_@item.Pericodi" class="delete"><img src="~/Content/Images/btn-cancel.png" title="Eliminar el registro" alt="Eliminar el registro" /></a>
                    }
                </td>
            </tr>
        }
    </tbody>

</table>

<div id="popup">    </div>

<div style="text-align:center">
    <input type="button" value="Limpiar" onclick="location.href='@Url.Action("Index","periodo")'" alt="Limpiar" title="Limpiar" />
    @if (Model.bNuevo)
    {
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <input type="button" value="Nuevo" onclick="location.href='@Url.Action("New","periodo")'" alt="Insertar un nuevo registro" title="Insertar un nuevo registro" />
    }
</div>
