@model COES.MVC.Intranet.Areas.Transferencias.Models.InfoDesviacionModel

@Html.AntiForgeryToken()
<table border="0" class="pretty" id="tabla">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Barra</th>
            <th>Cliente</th>
            <th>Codigo</th>
            <th>Desviacion (%)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaInfoDesviacion) 
        {
            <tr id="fila_@item.Codigo">
                <td class="text_left">@item.Empresa</td>
                <td class="text_left">@item.Barra</td>
                <td class="text_left">@item.Cliente</td>
                <td class="text_left">@item.Codigo</td>
                <td class="text_left">@item.Desviacion</td>
            </tr>
        }
    </tbody>

</table>