@model COES.MVC.Intranet.Areas.Hidrologia.Models.PtoMedicionModel

<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-adicional" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Empresa</th>
            <th>Punto de Medición</th>
            <th>Tipo Punto Medición</th>
            <th>Tipo Equipo</th>
            <th>Equipo</th>
            <th>Origen Lectura</th>
            <th>Usuario</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaPtoMedicion)
        {
            <tr onclick="mostrarDetalle(@item.Ptomedicodi);" style="cursor:pointer">
                <td>@item.Ptomedicodi</td>
                <td>@item.Emprnomb</td>
                <td>@item.Ptomedielenomb</td>
                <td>@item.Tipoptomedinomb</td>
                <td>@item.Famnomb</td>
                <td>@item.Equinomb</td>
                <td>@item.Origlectnombre</td>
                <td>@item.Lastuser</td>
                <td>@item.Lastdate</td>
            </tr>
        }
    </tbody>
</table>
