@model COES.MVC.Intranet.Areas.Transferencias.Models.CompensacionModel
@{
    string sAccion = ViewData["sAccion"].ToString();
    string sTitulo = ViewData["sTitulo"].ToString();
    List<SelectListItem> listItems = new List<SelectListItem>();
    var PeriodoNombre = TempData["Periodonombre"].ToString();
    listItems.Add(new SelectListItem
         {
             Text = "Activo",
             Value = "ACT",
             Selected = true
         });
    listItems.Add(new SelectListItem
         {
             Text = "Inactivo",
             Value = "INA"
         });
}
<link href="~/Areas/Transferencias/Content/Css/Validate.css" rel="stylesheet" />
@using (Html.BeginForm("Save", "compensacion", FormMethod.Post, new { id = "frmCompensacion", @class = "cmxform" }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>@sTitulo</legend>
        <div style="padding-left: 20px; width: 500px;">
            @Html.HiddenFor(model => model.Entidad.Cabecompcodi)
            @Html.HiddenFor(model => model.Entidad.Cabecomppericodi)
            <table cellspacing="2" cellpadding="5">
                @if (Model.sError != "")
                {
                    <tr>
                        <td colspan="2">
                            <div class="editor-label" style="color:red;">
                                @Model.sError
                            </div>
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.Cabecomppericodi, "Periodo")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.sError, new { @Value = PeriodoNombre, @readonly = "readonly" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.Cabecompnombre, "Nombre")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Entidad.Cabecompnombre)
                            @Html.ValidationMessageFor(model => model.Entidad.Cabecompnombre)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.Cabecompver, "Ver")
                            (*)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <label>@Html.RadioButtonFor(model => model.Entidad.Cabecompver, "Si")Si</label>
                            <label>@Html.RadioButtonFor(model => model.Entidad.Cabecompver, "No")No</label>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Entidad.Cabecompestado, "Estado")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.DropDownList("Entidad.Cabecompestado", listItems)
                            @Html.ValidationMessageFor(model => model.Entidad.Cabecompestado)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td align="right">
                        <input type="button" value="Retornar" onclick="location.href='@Url.Action("Index", "compensacion")'" alt="Retornar" title="Retornar" />&nbsp;
                    </td>
                    <td align="left">
                        &nbsp;
                        @if (Model.bGrabar)
                        {
                            <input type="submit" value="@sAccion" alt="@sAccion" title="@sAccion" />
                        }
                    </td>
                </tr>
                <tr><td colspan="2">Nota(*): Campos Requeridos</td></tr>

            </table>
        </div>
    </fieldset>
}
<script src="~/Areas/Transferencias/Content/Scripts/jquery.validate.js"></script>
<script>
    $("#frmCompensacion").validate({
        rules: {
            "Entidad.Cabecompnombre": {
                required: true
            },
            "Entidad.Cabecompver": {
                required: true,
            }
        }
    });
</script>
