@model COES.MVC.Intranet.Areas.Transferencias.Models.CompensacionModel
@Html.AntiForgeryToken()
<table border="0" class="pretty" id="tabla">
    <thead>
        <tr>
            <th>Compensacion</th>
            <th>Visualizar</th>
            <th>Estado</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaCompensacion)
        {
            <tr id="fila_@item.Cabecompcodi">
                <td class="text_left">@item.Cabecompnombre</td>
                <td>@item.Cabecompver</td>
                <td>
                    @if (item.Cabecompestado == "ACT")
                    { <span>Activo</span> }
                    else
                    { <span>Inactivo</span> }
                </td>
                <td style="width:30px;">
                    @if (Model.bEditar)
                    {
                        <a href="@Url.Action("Edit", new { id = item.Cabecompcodi })"><img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Editar el registro" alt="Editar el registro" /></a>
                    }
                </td>
                <td style="width:30px;">
                @if (Model.bEliminar)
                    {
                        <a href="#" id="eliminar_@item.Cabecompcodi" class="delete"><img src="~/Content/Images/btn-cancel.png" title="Eliminar el registro" alt="Eliminar el registro" /></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="popup">    </div>
<div style="text-align:center">
    <input type="button" value="Regresar" onclick="location.href='@Url.Action("Index","periodo")'" alt="Regresar" title="Regresar" />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="button" value="Limpiar" onclick="location.href='@Url.Action("Index","compensacion")'" alt="Limpiar" title="Limpiar" />
    @if (Model.bNuevo)
    {
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <input type="button" value="Nuevo" onclick="location.href='@Url.Action("New", "compensacion")'" alt="Insertar un nuevo registro" title="Insertar un nuevo registro" />
    }
</div>
     
